<!--cargar plantilla base.html-->
{% extends 'base.html' %}

{% block content %}
    <h3>Listados de libros</h3>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripción</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libros %}
                <tr>
                    <td>{{ libro.titulo }}</td>
                    <td>{{ libro.descripcion }}</td>
                    <td><img src="{{ libro.imagen.url }}" alt="" width="100"></td>
                    <td>
                       <a href="{% url 'libros:borrar' libro.libro_id%}"><i class="fa-solid fa-trash"></i></a> 
                       <a href="{% url 'libros:ver' libro.libro_id%}"><i class="fa-solid fa-eye"></i></a>
                       <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                </tr>
            {% endfor %}
    </table>
    <hr>
    <a href="{% url 'libros:alta_libro' %}">Crear libro</a>
{% endblock %}