{% extends 'base.html' %}
{% block content %}
    <h3>Detalle del libro</h3>
    <hr>
    <h4>{{ libro.titulo }}</h4>
    <p>{{ libro.descripcion }}</p>
    <img src="{{ libro.imagen.url }}" alt="" width="200">
    <hr>
    <!--mostrar los prestamos-->
    <h4>Prestamos</h4>
    <ul>
        {% for prestamo in prestamos %}
            <li>
                <p>
                    {{prestamo.prestamos_id}} - {{ prestamo.fecha_solicitud }} - {{ prestamo.fecha_devolucion }} - {{prestamo.usuario.nombre}} {{prestamo.estado.descripcion}}
                </p>
                <p>
                    <a href="{% url 'prestamos:aceptar' prestamo.prestamos_id%}">Aceptar</a> 
                    <a href="{% url 'prestamos:cancelar' prestamo.prestamos_id%}">Cancelar</a> 
                </p>
            </li>
        
            {% endfor %}
    <hr>
    <a href="{% url 'libros:index' %}">Volver</a>
{% endblock %}